<h2>Interpolation</h2>

<p>{{ nome }} tem {{ idade }} anos!</p>

<p>{{ nome }} tem mais de 26 anos?</p>
<p>{{ idade > 26 }} </p> <!-- aparece true ou false na pagina -->

<p>Quando é {{ idade }} + 1?</p>
<p>{{ idade + 1 }}</p>
<p>{{ idade + maisUm }}</p>

<hr>

<h2>Property Biding</h2>
<button [disabled]="checkedDisabled">button</button>
<br>
<img [src]="imgSrc" width="50%" [title]="imgTitle" [alt]="imgTitle">

<hr>

<h2>Event Binding</h2>
<button (click)="alertaInfo($event)">Evento</button>
<br>
<br>

<div (mousemove)="mouseMoveTeste($event)" style="background: red; width: 300px; height: 300px"></div>
<p>{{ position.x }} - {{ position.y }}</p>

<hr>

<h2>Two-way Binding</h2>
<input [(ngModel)]="nome">
{{ nome }}